[submodule "Amsel.Rundown.Ingress"]
	path = Amsel.Rundown.Ingress
	url = https://github.com/Examed/Amsel.Rundown.Ingress
[submodule "Amsel.Rundown.DTO"]
	path = Amsel.Rundown.DTO
	url = https://github.com/Examed/Amsel.Rundown.DTO
[submodule "Amsel.Rundown.Resources"]
	path = Amsel.Rundown.Resources
	url = https://github.com/Examed/Amsel.Rundown.Resources
